
create table public."Pack Tracker" (
  id bigint generated by default as identity not null,
  age date not null,
  breed json null,
  health json null,
  size numeric null,
  growth json null,
  training smallint null,
  food json null,
  sleep jsonb null,
  constraint Pack Tracker_pkey primary key (id)
) TABLESPACE pg_default;

-- Create RLS (Row Level Security) policy
alter table external_data enable row level security;

-- Create policy to allow read access to all authenticated users
create policy \
Allow
read
access
to
all
users\ 
on external_data for select 
to authenticated
using (true);

-- Create policy to allow read access to anonymous users
create policy \Allow
anonymous
read
access\ 
on external_data for select 
to anon
using (true);

-- Create policy to allow insert only for authenticated users
create policy \Allow
insert
for
authenticated
users\ 
on external_data for insert 
to authenticated
with check (true);

